@charset "UTF-8";

h1 {
	text-align: center;
	background-color: #284B63;
	color: #F4F9E9;
	font-size: 3.5em;
	border-radius: 0.25em;
	margin-block-start: 0.25em;
	margin-block-end: 0.1em;
	width: 95%;
	display: block;
	font-family: Avenir, Trebuchet MS, Tahoma;
}

iframe {
	width: 80%;
	height: 35em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2em;
	border: #284B63;
	margin-top: 0.6375em;
	margin-bottom: 0.6375em;
}


h3 {
	text-align: center;
	background-color: #284B63;
	color: #F4F9E9;
	font-size: 3.5em;
	
	margin-block-start: 0.25em;
	margin-block-end: 0.1em;
	
	display: block;
	font-family: Avenir, Trebuchet MS, Tahoma;
	opacity: 0.7;
}

h4 {
	text-align: center;
	background-color: #153243;
	color: #F4F9E9;
	font-size: 3.5em;
	border-radius: 0.25em;
	width: 80%;
	display: block;
	font-family: Avenir, Trebuchet MS, Tahoma;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

h5 {
	text-align: center;
	background-color: #153243;
	color: #F4F9E9;
	font-size: 3.5em;
	border-radius: 0.25em;
	width: 80%;
	display: block;
	font-family: Avenir, Trebuchet MS, Tahoma;
	margin:0.3em;
	margin-block-end: 0;
}

h6 {
	text-align: center;
	background-color: #153243;
	color: #F4F9E9;
	font-size: 3.5em;
	border-radius: 0.25em;
	width: 80%;
	display: block;
	font-family: Avenir, Trebuchet MS, Tahoma;
	margin:0.3em;
	margin-block-start:0;
}


p {
	font-size: 1.4em;
	background-color: #284B63;
	color: #F4F9E9;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.6375em;
	font-family: Avenir, Trebuchet MS, Tahoma;
}

.p3 {
	font-size: 1.4em;
	background-color: #284B63;
	color: #F4F9E9;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.6375em;
	font-family: Avenir, Trebuchet MS, Tahoma;
	margin-block-start: 0;
}

.p2 {
	font-size: 1.4em;
	color: #284B63;
	text-align: center;
	background: transparent;
	padding: 0.5em;
	text-decoration: none;
	font-family: Avenir, Trebuchet MS, Tahoma;
	margin: 0em;
}

body {
	background-color: #B4B8AB;
	margin: 0px;
	height: 100%;
	font-family: Avenir, Trebuchet MS, Tahoma;
}

html {
	height: 100%;
	font-family: Avenir, Trebuchet MS, Tahoma;
}

div {
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: center;
	padding-inline-start: 0px;
}

nav {
	margin: 0px;
	background-color: #153243;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0px;
	padding-right: 0px;
	z-index: 2;
}

li {
	font-size: 1.6em;
	display: inline;
	margin: 0.2em;
}

li a {
	padding: 0.2em;
	text-decoration: none;
	color: #F4F9E9;
	font-family: Avenir, Trebuchet MS, Tahoma;
}

/*Source: https://www.w3schools.com/cssref/sel_hover.asp*/
li a:hover {
	background-color: #F4F9E9;
	color: #707070;
	border-radius: 0.25em;
	width: 10em;
}

.filledIn {
	background-color: #707070;
	border-radius: 0.25em;
	width: 10em;
}

a {
	color: #B4B8AB;
}

.a2 {
	color: #284B63;
	text-decoration: none;
}

.whiteborder {
	border-radius: 2em;
	border-style: solid;
	border-color: #F4F9E9;
	border-width: 0.5em;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.overflow{
	overflow:scroll;
	height: 25em;
}

.centerPic {
	display: flex;
	justify-content: center;
	text-align: center;
}

.imgPad {
	margin: 0.25em;
}

.imgPad2 {
	margin: 0.5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.blank {
	color: #B4B8AB;
	background-color: #B4B8AB;
	margin-bottom: 0.5em;
}

.transparent {
	margin: 0px;
	background-color: black;
	background-size: cover;
	opacity: 1;
}

/*Source: https://www.w3schools.com/howto/howto_css_parallax.asp*/
.parallax {
	background-image: url("images/stemFair.jpg");
	background-position: top;
	height: 100%;
	margin-block-start: 0em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0em;
	background-color: #B4B8AB;
}

.parallax-curtain {
	background-position: top;
	height: 100%;
	margin-block-start: 0em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0em;
	background: linear-gradient(rgba(0,0,0,0) 60%, rgba(180, 184, 171, 1) 100%);
}

.parallaxEducation {
	background-image: url("images/educationWall.jpeg");
	background-position: top;
	height: 100%;
	margin-block-start: 0em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0em;
}

.parallaxExperience {
	background-image: url("images/experienceWall.jpg");
	background-position: top;
	height: 100%;
	margin-block-start: 0em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0em;
}

.parallaxProjects {
	background-image: url("images/projectsWall.jpg");
	background-position: top;
	height: 100%;
	margin-block-start: 0em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0em;
}


/*Image Source: https://labs.openai.com/e/cz0ZVFXsiMu4PkBlddSa6Ph1/original*/
.parallaxSTEMI {
	background-image: url("images/STEMIWall.jpg");
	background-position: top;
	height: 100%;
	margin-block-start: 0em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0em;
}


.flex-row {
	display: flex;
	flex-direction: row;
	text-align: left;
	align-items: center;
	justify-content:center;
}

.flex-item{
	flex: 1;
}
.flex-text {
	text-align:left;
}
.iframe-flex{
	margin: 1em;
}

.easy-scroll{
	width:80%;
}

/*Source: https://www.w3schools.com/howto/howto_js_progressbar.asp*/
.progress-bar {
	height: 0.5em;
	background: #F4F9E9;
	width: 0%;
	position: fixed;
	z-index: 2;
}

.progress-container {
	width: 100%;
	height: 0.5em;
	background: #000000;
	position: fixed;
	z-index: 2;
}